@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto:wght@100&display=swap");

:root {
  --primary-color: #ffffff;
  --off-white: #ffffff;
  --dark-gray: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px auto;
  max-width: 85%;
  width: 100%;
  background-image: url("images/bgImage16.jpg");
  background-size: cover;
}

hr {
  margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
  margin: 2rem;
}

/** container **/
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

/** links **/
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  color: #fff;
  margin: 1rem auto;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.link-secondary {
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  color: #fff;
  margin: 1rem auto;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.link-primary:hover,
.link-secondary:hover {
  /* backdrop-filter: blur( 20px ); */
  background: rgba(255, 255, 255, 0.3);
}

/** lists **/

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}
/** navigation **/

.navigation {
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation .nav-brand {
  font-weight: bold;
}

.nav-brand a {
  text-decoration: none;
  color: inherit;
}

.navigation .nav-pills {
  text-align: right;
  margin: 0.6rem 1rem;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
}

.strong {
  color: var(--primary-color);
}
.navigation .link:hover {
  text-decoration: 2px underline;
}

/** header **/

.img-container {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  margin: auto;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease-out;

}

.hero {
  padding: 2rem;
  padding-top: 5rem;
}

.hero .hero-img {
  max-width: 92%;
  display: block;
  border-radius: 100%;
  margin: auto;
}
.hero .hero-heading {
  text-align: center;
  padding-top: 0.2rem;
  color: var(--dark-gray);
  font-size: 50px;
}

.hero .hero-heading .heading-inverted {
  font-size: 30px;
  color:var(--primary-color);
  
}


/** sections **/

.section {
  padding: 2rem;
  margin: 2.5rem 0;
  border-radius: 1rem;
  text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.section h1 {
  text-align: center;
}

.ow {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/** footers **/

.footer {
  padding: 2rem 1rem;
  margin-top: 100px;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* .icon{
  padding-top:rem;
} */

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

/** projects **/
.showcase-list {
  /* padding: 2rem; */
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin: 3rem auto;
}
.showcase-list h1 {
  margin: 0.5rem;
}

.showcase-list p {
  padding-bottom: 1rem;
}

/** blogs **/
.title-blog {
  color: var(--primary-color);
}
.showcase-blog {
  padding-bottom: 6rem;
  color: white;
  text-align: left;
  /* font-weight: 400; */
}


@media (max-width: 900px) {
  body {
    max-width: 95%;
    width: 95%;
  }

  .list-item-inline {
    display: inline;
    padding: 1rem;
  }

  .container-center {
    width: auto;
  }

  .link-primary {
    display: block;
  }
}
